.header {
  display: flex;
  max-width: 1440px;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.header__center-part {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {}

.header__search-input {}

.header__search-button {}

.header__filter-button {}

.header__right-part {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.header__left-part {
  width: 200px;
}

.header__profile-name {}

.header__profile-button {}